{
  admin off
  auto_https off
}

:8443 {
  @notOptions {
    not method OPTIONS
  }

  basicauth @notOptions {
    {env.BASIC_AUTH_USER} {env.BASIC_AUTH_PASSWORD_HASH}
  }

  @api {
    path /api/*
  }

  handle @api {
    reverse_proxy api:4000
  }

  handle {
    root * /srv/www
    file_server
  }
}
